@layer components {
  .pf-image-input {
    @apply relative inline-flex size-20 cursor-pointer items-center justify-center;

    input[type="file"] {
      @apply absolute size-0 appearance-none opacity-0;
    }
  }

  .pf-image-input-remove {
    @apply bg-background border-border end-px top-px absolute z-1 flex size-5 cursor-pointer items-center justify-center rounded-full border shadow-sm;

    i {
      @apply text-muted-foreground text-[11px];
    }

    svg {
      @apply text-muted-foreground size-3.25;
    }

    &:hover {
      i {
        @apply text-foreground;
      }

      svg {
        @apply text-foreground;
      }
    }
  }

  .pf-image-input-placeholder {
    @apply border-border pf-image-input-empty:border-border relative size-full overflow-hidden rounded-full border bg-cover bg-no-repeat;
  }

  .pf-image-input-preview {
    @apply relative size-full overflow-hidden rounded-full bg-cover bg-no-repeat;
  }
}

@custom-variant pf-image-input-empty {
  [data-pf-image-input-initialized].empty & {
    @slot;
  }
}

@custom-variant image-input-changed {
  [data-pf-image-input-initialized].changed & {
    @slot;
  }
}
